
# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/ev-car-advertiser_db

# Security
JWT_SECRET_KEY=QyjGv2G9YDlQqYT0Nb0bDisdqY9A3BqB

# API Configuration
VITE_API_URL=http://localhost:8000
