
# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/student-attendance-tracker_db

# Security
JWT_SECRET_KEY=p6fuwfkemZe9wQlSISfM67PD2NknMUgi

# API Configuration
VITE_API_URL=http://localhost:8000
